<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Monday, May 11</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Library Carpentry: Tidy Data</td>
      </tr>
      <tr>
        <td></td>
        <td>Instructors: Cody Hennesy, Jose Niño Muriel</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Tuesday, May 12</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Library Carpentry: The UNIX Shell</td>
      </tr>
      <tr>
        <td></td>
        <td>Instructors: Jamie Jamison, TBD</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3: Wednesday, May 13</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Library Carpentry: Introduction to Git</td>
      </tr>
      <tr>
        <td></td>
        <td>Instructors: Tim Dennis, Seth Erickson</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <div class="alert alert-info" style="margin-top: 20px;">
      <strong>Break:</strong> No sessions May 14–17.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 4: Monday, May 18</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Library Carpentry: OpenRefine</td>
      </tr>
      <tr>
        <td></td>
        <td>Instructors: Ryan Horne, Jamie Jamison</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5: Tuesday, May 19</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Library Carpentry: Python (Part 1)</td>
      </tr>
      <tr>
        <td></td>
        <td>Instructors: Derek Devnich, Ryan Horne</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 6: Wednesday, May 20</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>Library Carpentry: Python (Part 2)</td>
      </tr>
      <tr>
        <td></td>
        <td>Instructors: Derek Devnich, Ryan Horne</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- Empty column for layout balance -->
  </div>
</div>
